@use 'src/style/variables' as variables;

.text-thin {
  font-family: variables.$font-family;
  font-weight: 100;
  font-style: normal;
}

.text-light {
  font-family: variables.$font-family;
  font-weight: 300;
  font-style: normal;
}

.text-regular {
  font-family: variables.$font-family;
  font-weight: 400;
  font-style: normal;
}

.text-medium {
  font-family: variables.$font-family;
  font-weight: 500;
  font-style: normal;
}

.text-bold {
  font-family: variables.$font-family;
  font-weight: 700;
  font-style: normal;
}

.text-black {
  font-family: variables.$font-family;
  font-weight: 900;
  font-style: normal;
}

.text-thin-italic {
  font-family: variables.$font-family;
  font-weight: 100;
  font-style: italic;
}

.text-light-italic {
  font-family: variables.$font-family;
  font-weight: 300;
  font-style: italic;
}

.text-regular-italic {
  font-family: variables.$font-family;
  font-weight: 400;
  font-style: italic;
}

.text-medium-italic {
  font-family: variables.$font-family;
  font-weight: 500;
  font-style: italic;
}

.text-bold-italic {
  font-family: variables.$font-family;
  font-weight: 700;
  font-style: italic;
}

.text-black-italic {
  font-family: variables.$font-family;
  font-weight: 900;
  font-style: italic;
}

h1 {
  @extend .text-black;
  font-size: 3rem;
}

h2 {
  @extend .text-bold;
  font-size: 2.5rem;
}

h3 {
  @extend .text-medium;
  font-size: 1.75rem;
}

h4 {
  @extend .text-regular;
  font-size: 1.5rem;
}

h5 {
  @extend .text-regular;
  font-size: 1.25rem;
}

h6 {
  @extend .text-regular;
  font-size: 1rem;
}

p {
  @extend .text-regular;
  font-size: 1rem;
}
