// Colors
$primary-color: #497345;
$secondary-color: #9d0c0d;
$success-color: #a8f33b;
$danger-color: #fd1117;
$warning-color: #f2d606;
$info-color: #42a1e0;
$light-color: #f8f9fa;
$dark-color: #161816;
$white-color: white;
$black-color: black;
$transparent-color: transparent;

// Radius
$border-radius: 999px;
