// Colors
// Generate: https://atmos.style/color-generator
$primary-color: #ac678b;
$secondary-color: #75dadd;

$success-color: #87da56;
$danger-color: #dd5944;
$warning-color: #dca32e;
$info-color: #117ec4;

$white-color: white;
$black-color: black;
$dark-color: #242424;
$transparent-color: transparent;

// Radius
$border-radius: 999px;

// Typography
$font-family: "Roboto", sans-serif;
